/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";

:root {
  /* colors */
  --cultured: hsl(0, 0%, 93%);
  --pink: #ff8f9c;
  --oil: #009688;
}
